body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* div {
    border: 1px solid white
} */

.content {
    display: flex;
    flex-direction: column;
    inline-size: 800px;
    margin: 0 auto;
    /* border: 1px solid white; */
    /* background-color: darkblue; */
    margin-top: 5%;
}

#cityOutput {
    font-size: 50px;
}

#flagIcon {
    width: 100px;
}

.body {
    display: flex;
    margin: 0 auto;
}

#barometer, #droplet, #windIcon {
    width: 30px;
    height: 30px;
}

#wIcon {
    width: 100px;
    height: 100px;
}

/* .pressure p, .humidity p, .wind p {
    display: inline;
} */

.flag {
    margin: 0 auto;
}

.header {
    margin: 0 auto;
}

.form {
    margin: 0 auto;
    text-align: center;
}

#temp {
    font-size: 91px;
    /* border: 1px solid white; */
    margin-bottom: 0;
    margin-top: 0;
}